@using NonFactors.Mvc.Grid;
@model IEnumerable<Appointment>

@{
    ViewData["Title"] = $"Today's Appointments({DateTime.Now.ToShortDateString()})";
}

<h1>
    Today´s Appointments(@(
    DateTime.Now.ToShortDateString()
    ))
</h1>


@*<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Number)</th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>@Html.DisplayNameFor(model => model.Time)</th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>@Html.DisplayNameFor(model => model.Medic)</th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th>@Html.DisplayNameFor(model => model.IsDone)</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Appointment ap in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => ap.Number)</td>
                <td>@Html.DisplayFor(modelItem => ap.Date)</td>
                <td>@Html.DisplayFor(modelItem => ap.Time)</td>
                <td>@Html.DisplayFor(modelItem => ap.Cliente.Name)</td>
                <td>@Html.DisplayFor(modelItem => ap.Medic.Name)</td>
                <td>@Html.DisplayFor(modelItem => ap.Info)</td>
                <td>@Html.DisplayFor(modelItem => ap.IsDone)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@ap.ID">Edit</a>
                    <a asp-action="Delete" asp-route-id="@ap.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@

@(
Html
                .Grid(Model)
                .Build(columns =>
                 {
                     columns.Add(Model => Model.Number).Titled("Ap.Number").Filterable(GridFilterCase.Upper);


                     columns.Add(Model => Model.Date).Titled("Date").Formatted("{0:d}").Filterable(GridFilterType.Double);
                     columns.Add(Model => Model.Time).Titled("Time").Formatted("{0:t}").Filterable(GridFilterType.Double);

                     columns.Add(Model => Model.Cliente.Name).Titled("Cliente");
                     columns.Add(Model => Model.Medic.Name).Titled("Medic");
                     columns.Add(Model => Model.Info).Titled("Info");

                     columns.Add(Model => Model.IsDone)
                     .RenderedAs(Model => (Model.IsDone == true ? "Yes" : "No"))
                     .UsingFilterOptions(new[]
                     {

                         new SelectListItem{Value="true", Text="Yes"},
                         new SelectListItem{Value="false", Text="No"}
                     });
                     columns.Add(Model => Html.ActionLink("Edit", "Edit", new { id = Model.ID }));
                     columns.Add(Model => Html.ActionLink("Delete", "Delete", new { id = Model.ID }));
                 })
                 .Filterable()

   )
